/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height: 100vh;
}

/* RULES */
body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.post {
    background-color: #fff;
    max-width: 500px;
    padding-bottom: 10px;
    margin: 0 30px;
}

.post-header, .post-actions, .post-likes, .post-content {
    padding: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header-left {
    display: flex;
    align-items: center;
}

.post-header-title {
    margin-left: 5px;
}

img {
    width: 100%;
    height: auto;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-actions-left > i {
    margin-right: 5px;
}

.post-likes span {
    font-weight: bold;
}